{% extends 'Base.html' %}

{% block title %}
  Question List
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center mb-4">Question List</h2>
        </div>
    </div>

    <div class="row">
        {% for question in questions %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ question.title }}</h5>
                    <p class="card-text">{{ question.question_text }}</p>
                    <p class="card-text"><strong>Answer:</strong> {{ question.answer_text }}</p>
                    <a href="{% url 'attempt_question' question.id %}" class="btn btn-primary">Answer</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
