{% extends 'Base.html' %}

{% block title %}

{% endblock %}

{% block body %}
  <div class="container mt-5 col-lg-6">
    <div class="card shadow-sm">
      <div class="card-body">
        <h4 class="card-title text-center mb-4">Tecaher Registraion Form</h4>
        <form action="" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="d-grid mt-3">
            <input type="submit" value="Submit" class="btn btn-primary" />
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
