{% extends 'Base.html' %}

{% block title %}
  Class Details
{% endblock %}

{% block body %}
  <div class="container mt-5">
    <h2 class="text-center mb-4">Class Details</h2>
    <h4 class="text-center mb-4"><strong>{{ classes.name }}</strong></h4>

    <div class="row mt-5">
      <div class="col-12">
        <h4 class="mb-3">Lessons</h4>
      </div>

      {% for lesson in lessons %}
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title">{{ forloop.counter }}. {{ lesson.title }}</h5>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="row mt-5">
      <div class="col-12">
        <h4 class="mb-3">Quizzes</h4>
      </div>

      {% for quiz in questions %}
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title">{{ quiz.question_text }}</h5>
              <p class="card-text">{{ quiz.question_type }}</p>
              <p class="card-text">{{ quiz.question_answer }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
